<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
  {% csrf_token %}
  {{ form }}

  <div align="center">
    <input type="submit" class="btn btn-primary" value="Sign In" />
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
</form>
